.explore-foods {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 60px;
}
.image h3{
    margin-top: -60px;
    margin-left: 110px;
    position: absolute;
    color: #fff;
    text-align: center;

}

.images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.image img{
    border-radius: 10px;
}
img {
    width: 260px;
    height: 350px;
}